<div class="container">
  <h1>Details Abonné</h1>
<fieldset>
  <label >Nom</label> 
  <input type="text" readonly class="form-control" value="{{subscriber.firstNameSub}}" >
</fieldset>

<fieldset>
  <label >Prenom</label> 
  <input type="text" class="form-control" value="{{subscriber.lastNameSub}}" readonly>
</fieldset>

<fieldset>
  <label >Age</label> 
  <input type="text" class="form-control" value="{{subscriber.ageSub}}" readonly>
</fieldset>

<fieldset>
  <label >Poids</label> 
  <input type="text" class="form-control" value="{{subscriber.weightSub}}" readonly>
</fieldset>

<fieldset>
  <label >Taille</label> 
  <input type="text" class="form-control"  value="{{subscriber.heightSub}}" readonly>
</fieldset>

<fieldset>
  <label >Size</label> 
  <input type="text" class="form-control" value="{{subscriber.sizeSub}}" readonly>
</fieldset>
<fieldset>
    <label>Date inscription</label>
  <input type="text" class="form-control" value="{{subscriber.dateSubscription | date}}"  readonly>
</fieldset><br>
<button (click)=backToListSubsciber() class="btn btn-success">Retour</button>
</div>